* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color: #F0F9FF;  
}

main {
    background-color: #F0F9FF;  
    height: 726px;
}

.middleLinks {
    font-family: 'Inter';
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -17.5px;
    left: -70px;
}

.middleLinks li {
    display: inline;
    padding-left: 30px;
}

.logo {
    text-align: center;
    position: relative;
    top: 22px;
    left: -600px;
}

.socialMediaIcons {
    text-align: center;
    position: relative;
    top: -52px;
    left: 420px;
}

.socialMediaIcons li {
    display: inline;
    padding-left: 30px;
}

.downloadButton {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bolder;
    width: 145.41px;
    height: 53px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.title {
    font-family: 'Syne';
    font-size: 48px;
    color: #2D2D2D;
    text-align: center;
    position: relative;
    top: 5px;
}

.titleparagraph {
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    position: relative;
    top: 40px;
}

.downloadButton2 {
    text-align: center;
    position: relative;
    top: 80px;
}

#downloadButton2 {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bolder;
    width: 193.39px;
    height: 53px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.installer {
    font-family: 'Inter';
    font-size: 13px;
    color: #77797C;
    text-align: center;
    position: relative;
    top: 95px;
}

.otherdownloads {
    text-align: center;
    position: relative;
    top: 105px;
}

#otherdownloads {
    font-family: 'Inter';
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
}

.IDEpicture {
    text-align: center;
    position: relative;
    top: 150px;
}

#IDEpicture {
    width: 1059px;
    overflow: hidden;
    text-align: center;
}